{% extends 'base.html.twig' %}

{% block title %} Profile {% endblock %}

{% block content %}

    <div class="section-divider"></div>
    <div class="container" style="min-height: 72vh;">
        <h2>Profile</h2>
    </div>

{% endblock %}
