{% extends 'base.html.twig' %}

{% block title %} Registration {% endblock %}

{% block content %}

    <div class="section-divider"></div>
    <div class="container" style="min-height: 72vh;">
        <h2>Registration form</h2>
        <form action="{{ path('registration_create_user') }}" method="POST">
            <label for="name">Name</label>
            <p>
                <input id="name" type="text" name="name">
                {% if errors['name'] is defined %}
                    <span class="alert-danger">{{ errors['name'] }}</span>
                {% endif %}
            </p>
            <label for="email">Email</label>
            <p>
                <input id="email" type="email" name="email">
                {% if errors['email'] is defined %}
                    <span class="alert-danger">{{ errors['email'] }}</span>
                {% endif %}
            </p>
            <label for="password">Password</label>
            <p>
                <input id="password" type="password" name="password">
                {% if errors['password'] is defined %}
                    <span class="alert-danger">{{ errors['password'] }}</span>
                {% endif %}
            </p>
            <button type="submit">Registration</button>
        </form>
    </div>

{% endblock %}
