{% extends 'base.html.twig' %}

{% block title %} Registration {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <form action="{{ path('registration_create_user') }}" method="POST">
            <label for="name">
                Name <input id="name" type="text" name="name">
                {% if errors['name'] is defined %}
                    {{ errors['name'] }}
                {% endif %}
            </label>
            <br>
            <label for="email">
                Email <input id="email" type="email" name="email">
                {% if errors['email'] is defined %}
                    {{ errors['email'] }}
                {% endif %}
            </label>
            <br>
            <label for="password">
                Password <input id="password" type="password" name="password">
                {% if errors['password'] is defined %}
                    {{ errors['password'] }}
                {% endif %}
            </label>
            <br>
            <input type="submit" value="Registration">
        </form>
    </div>

{% endblock %}
